# =========================
# Python
# =========================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================

.env

# =========================
# Vector Database
# =========================

storage/chroma_db/

# =========================
# Node / React
# =========================

node_modules/
dist/
build/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log