fastapi
uvicorn
python-dotenv
python-multipart
groq
chromadb
sentence-transformers
langchain
langchain-community
langchain-core
pydantic
PyMuPDF
python-docx
numpy
requests
httpx
tqdm
scikit-learn
scipy
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
